{% extends "gimnasioApp/padre.html" %}

{% load static %}

{% block titulo %} Cursos {% endblock %}
 
{% block contenidocambia %}

<h3> Formulario </h3>

<form action = "{% url 'curso' %}" method="POST"> {% csrf_token %}

    {{ formulario.as_p }}

<input type="submit" value="Guardar">
</form>
<table>
    <thead>
        <tr>
        <tr>Nombre    </tr>
        <tr>Categoria    </tr>
        <tr>Turno    </tr>
        <tr>Opciones    </tr>
        </tr>
    </thead>
    </tbody>




         {% for curso in cursos %}
        <tr>
        <td>
            {{ curso.nombre }}
        </td>
        <td>
               {{ curso.categoria }}       
        </td>
        <td>
            {{ curso.turno }}
        </td>
     </tr>
     {% endfor %}
     </tbody>
</table>

<h3> {{ mensaje }} </h3>

{% endblock %}