{% extends "gimnasioApp/padre.html" %}

{% load static %}

{% block titulo %} Rutinas  {% endblock %}

{% block contenidocambia %}

<h3> Formulario </h3>

<form action="{% url 'rutina' %}" method="POST"> {% csrf_token %}

    {{ formulario.as_p }}

<input type="submit" value="Guardar">
</form>
<h3> {{ mensaje }} </h3>
<table>
    <thead>
        <tr>
        <th>Rutina</th>
        <th>Nivel</th>
        <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for rutina in rutinas %}
    <tr>
        <td>
            {{ rutina.rutina  }}
        </td>

        <td>
            {{ rutina.nivel }}
        </td>
        <td>
            <a class="btn btn-danger" href="{% url 'eliminarRutina' rutina.id %}">Eliminar</a>
            <a class="btn btn-success" href="{% url 'editarRutina' rutina.id %}">Editar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>



{% endblock %}