{% extends "gimnasioApp/padre.html" %}

{% load static %}

{% block titulo %} Suplementos y Complementos  {% endblock %}

{% block contenidocambia %}

<h3> Formulario </h3>

<form action = "{% url 'suplementos' %}" method = "POST"> {% csrf_token %}

    {{ formulario.as_p }}

<input type="submit" value="Guardar">
</form>

<table>
    <thead>
        <tr>
        <tr>Marca</tr>
        <tr>Origen</tr>
        <tr>Opciones</tr>
        </tr>
    </thead>
    </tbody>

    {% for suplemento in suplementos %}
    <tr>
        <td>
            {{ suplemento.marca }}
        </td>
        <td>
            {{ suplemento.origen }}
        </td>
     </tr>
     {% endfor %}
     </tbody>
</table>

<h3> {{ mensaje }} </h3>

{% endblock %}